/* User screen styles */

.form-container input {
    width: 100%;
    margin: var(--default-offset) 0;
    height: 30px;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--grey);
    padding: 0 var(--default-padding);
}

.user-profile h4 {
    margin: var(--default-offset) 0;
}

.user-profile ul {
    list-style: none;
}

.user-profile ul li {
    border-top: 1px dotted;
    padding: var(--default-padding) 0;
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
}

.user-profile ul li:last-child {
    border-bottom: 1px dotted;
}

.user-profile button {
    margin-top: var(--default-offset);
    background: red;
    border: none;
    padding: var(--default-padding);
}
