/* header styles */

.navbar {
    background-color: var(--primary-color);
    padding: var(--default-padding);
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-brand, .navbar .user-profile {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    animation: App-logo-spin infinite 10s linear;
    height: 30px;
}

.logo-label {
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.user-icon {
    width: 25px;
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    margin-right: 5px;
}

.navbar .user-profile {
    color: var(--secondary-color);
}
